h1 {
    text-align: center;
}

#container {
    display: flex;
}

#situation-card {
    height: auto;
    width: auto;
    text-align: center;
    padding: 3em;
}

#action-card {
    height: auto;
    width: auto;
    text-align: center;
    padding: 3em;
}

#outcome-card {
    height: auto;
    width: auto;
    text-align: center;
    padding: 3em;
}
