.header {
    color: black;
    background-color: goldenrod;
    text-align: center;
    font-family: Georgia, serif;
}

.instructions {
    font-size: medium;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
} 

img {
    height: 500px;
    width: 300px;
    opacity: 0.5;
    transition: opacity 0.5;
    border: 5px solid goldenrod;
}

img:hover {
    opacity: 1;
}

.refresh-button {
    font-family: Georgia, serif;
    display: block;
    margin: auto;
}

#container {
    display: flex;
    font-family: Georgia, serif;
}

#situation-card {
    height: 700px;
    width: 700px;
    text-align: center;
    padding: 5em;
    margin: auto;
    font-family: Georgia, serif;
    color: white;
}

#situation-card:hover {
    opacity: 1;
    transform: scale(1.1);
}

#action-card {
    height: 700px;
    width: 700px;
    text-align: center;
    padding: 5em;
    margin: auto;
    font-family: Georgia, serif;
    color: white;
}

#action-card:hover {
    opacity: 1;
    transform: scale(1.1);
}

#outcome-card {
    height: 700px;
    width: 700px;
    text-align: center;
    padding: 5em;
    margin: auto;
    font-family: Georgia, serif;
    color: white;
}

#outcome-card:hover {
    opacity: 1;
    transform: scale(1.1);
}